body{
    background-color: #262626;
}
.deoro{
    color: #ffe066;
}
.deorofooter{
    color: #e6b800;
}
footer{
    background-color: #404040;
}
.footerlink{
    color: #e6b800;
    text-decoration: none;
}
.bginput{
    background-color: #404040;
    color: #ffe066;
}
.sizingthefontlabel{
    font-size: 20px;
}