<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/alimentos.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="css/fontsgoogle.css">
    <link rel="stylesheet" href="css/estilomenu.css">
    <link rel="icon" type="image/x-icon" href="img/Logo.webp">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>

<!--Crostrini-->

<body>

    <!--El nav-->

    <div class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand lora deoro">
                <img src="img/Logo.webp" width="75px" height="75px" class="rounded-4" alt="LogoCevicheria">
                Cevicheria La Negra
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav sora">
                    <li class="nav-item">
                        <a class="nav-link deoro" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle deoro" hrefq="#" role="button" data-toggle="dropdown">Cuenta</a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item deoro sora" href="login.html">Log in</a></li>
                            <li><a class="dropdown-item deoro sora" href="registro.html">Register</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle deoro" hrefq="#" role="button" data-toggle="dropdown">Menu</a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item deoro sora" href="menu.html">Todo</a></li>
                            <li><a class="dropdown-item deoro sora" href="platos.html">Platos</a></li>
                            <li><a class="dropdown-item deoro sora" href="ceviches.html">Ceviches</a></li>
                            <li><a class="dropdown-item deoro sora" href="sandwiches.html">Sadwiches</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle deoro" hrefq="#" role="button" data-toggle="dropdown">La Cevicheria La Negra</a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item deoro sora" href="nosotros.html">Nosotros</a></li>
                        </ul>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="container border-1 border-bottom border-top border-warning rounded-5 shadow">
        <div class="row">
            <h1 class="lora deoro text-center">El Menu</h1>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 shadow rounded-5">
                <div class="row m-2 shadow-lg rounded-3 border border-warning">

                    <!--Los Ceviches-->

                    <div class="container">
                        <div class="row text-center">
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xll-4">
                                <h2 class="lora deoro border-5 border-warning border-bottom rounded-3">Ceviches</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 text-center">
                                <br>
                                <img src="img/Ceviche de camarones.jpg" class="rounded-3 mb-3 p-2 bg-white" width="250px" height="250px" id="imgCeviche" alt="Ceviches">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6">
                                <div class="row">
                                    <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xll-11 text-center">
                                        <h4 class="lora deoro border-bottom border-warning rounded-3 border-3 mt-4" id="nomCeviche">Ceviche de Reineta con Camarones</h4>
                                        <br><br>
                                        <p class="sora deoro" id="ingrCeviche">Limon, Reinerta, Cebolla Morada, Camarones</p>
                                        <p class="sora deoro" id="prcCeviche">$3000</p>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 ">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 ">
                        <h3 class="lora deoro mt-3">Descripción</h3>
                        <div class="m-2 text-center">
                            <br>
                            <p class="sora deoro text-start" id="descrCeviche">
                                Nuestro ceviches se elaboran completamente de material fresco traido directamente de la costa.
                            </p>
                            <div class="container">
                                <div class="row w-100">
                                    <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches text-center"><a class="nondecorationslinks" href="ceviches.html">Mas Informacion</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 ">
                        <ul class="list-group sora deoro mt-4 mb-4" id="opCeviche">
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches " data-value="1" onclick="cambioCeviches(this)">Ceviche de Mariscos</button>
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="2" onclick="cambioCeviches(this)">Ceviche de Piure</button>
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="3" onclick="cambioCeviches(this)">Ceviche de Salmon</button>
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="4" onclick="cambioCeviches(this)">Ceviche de Salmon Camaron</button>
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="5" onclick="cambioCeviches(this)">Ceviche de Reineta</button>
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="6" onclick="cambioCeviches(this)">Ceviche de Reineta Camarones</button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <!--Platos-->

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 shadow rounded-5">
                <div class="row m-2 shadow-lg rounded-3 border border-warning">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xll-4">
                                <h2 class="lora deoro border-5 border-warning border-bottom rounded-3">Platos</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 text-center">
                                <br>
                                <img src="img/Mariscal.jpg" id="imgPlato" class="rounded-3 mb-3 p-2 bg-white" width="250px" height="250px"alt="#">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6">
                                <div class="row">
                                    <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xll-11 text-center">
                                        <h4 class="lora deoro border-bottom border-warning rounded-3 border-3 mt-4" id="nomPlato">Mariscal</h4>
                                        <br><br>
                                        <p class="sora deoro" id="ingrPlato">Mariscos, camarones, papas y pulpito.</p>
                                        <p class="sora deoro" id="prcPlato">$6000</p>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 ">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 ">
                        <h3 class="lora deoro mt-3">Descripción</h3>
                        <div class="m-2 text-center">
                            <br>
                            <p class="sora deoro text-start" id="descrPlato">
                                Una buena cantidad de mariscos, con un surtido de camarones, papas y pulpito.
                            </p>
                            <div class="container">
                                <div class="row w-100">
                                    <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches text-center"><a class="nondecorationslinks" href="platos.html">Mas Informacion</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 ">
                        <ul class="list-group sora deoro mt-4 mb-4">
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="1" onclick="cambioPlatos(this)">Trio Marino</button>
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="2" onclick="cambioPlatos(this)">Ostiones a la Parmesana</button>
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="3" onclick="cambioPlatos(this)">Salmon con papas a la plancha</button>
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="4" onclick="cambioPlatos(this)">Pastel de jaiva</button>
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="5" onclick="cambioPlatos(this)">Paila Marina</button>
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="6" onclick="cambioPlatos(this)">Colacion</button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 shadow rounded-5" style="margin-bottom: 10px;">
                <div class="row m-2 shadow-lg rounded-3 border border-warning">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xll-4">
                                <h2 class="lora deoro border-5 border-warning border-bottom rounded-3">Sándwiches & Ensaladas</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 text-center">
                                <br>
                                <img src="img/TerucazoDoble4.jpg" id="imgSand" class="rounded-3 mb-3 p-2 bg-white" style="width: 250px; height: 250px;" alt="">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6">
                                <div class="row">
                                    <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xll-11 text-center">
                                        <h4 class="lora deoro border-bottom border-warning rounded-3 border-3 mt-4" id="nomSand">Terucazo Doble</h4>
                                        <br><br>
                                        <p class="sora deoro" id="ingrSand">2 presas de pescado, cebolla morada, tomate, ciboullete</p>
                                        <p class="sora deoro " id="prcSand">$7000</p>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 ">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 ">
                        <h3 class="lora deoro mt-3">Descripción</h3>
                        <div class="m-2 text-center">
                            <br>
                            <p class="sora deoro text-start" id="descrSand">
                                Sándwich compuesto por 2 filetes de pescado, cebolla morada, tomate, ciboullete.
                            </p>
                            <div class="container">
                                <div class="row w-100">
                                    <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches text-center"><a class="nondecorationslinks" href="sandwiches.html">Mas Informacion</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xll-6 ">
                        <ul class="list-group sora  mt-4 mb-4">
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="1" onclick="cambioSandwiches(this)">Terucazo Doble</button>
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="2" onclick="cambioSandwiches(this)">Terucazo</button>
                            <button class="btn-secondary btn border border-warning rounded-3 text-start deoro m-1 list-group-item list-group-flush colorOpcionesCeviches" data-value="3" onclick="cambioSandwiches(this)">Empanadas</button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid text-end">
        <div class="deoro" style="font-size: 30px;" id="reloj">
    
        </div>
    </div>
    <script src="js/dadordeora.js"></script>
</body>
<footer class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-12 m-2">
            <a href="https://www.instagram.com/cevicherialanegra08/"><img src="img/InstaLogo.webp" style="width: 60px;" alt=""></a>
            <a href=""><img src="img/icono_wsp.jpg" style="width: 55px;" alt=""></a>
        </div>
    </div>
    <br>
    <div class="row">
        <h1 class="text-center"><a class="deorofooter lora" href="index.html" style="text-decoration: none; ">La Cevicheria La Negra ©</a></h1>
    </div>
    <br>
    <div class="row text-center">
        <ul class="sora deorofooter">
            <li><a href="index.html" class="nondecorationslinks">Inicio</a></li>
            <li><a href="login.html" class="nondecorationslinks">Log in</a></li>
            <li><a href="registro.html" class="nondecorationslinks">Register</a></li>
            <li><a href="menu.html" class="nondecorationslinks">Menu</a></li>
            <li><a href="platos.html" class="nondecorationslinks">Platos</a></li>
            <li><a href="ceviches.html" class="nondecorationslinks">Ceviches</a></li>
            <li><a href="sandwiches.html" class="nondecorationslinks">Sandwiches</a></li>
        </ul>
    </div>
    <br>
</footer>
<script src="js/menuDOM.js"></script>
</html>